
                <footer class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a target="_blank" href="http://airdisa.com/+">About RAD</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
