        <div class="sidebar pure-u">
            <header class="header">

                <hgroup>
                    <h1 class="brand-title">Flash Cards by RAD</h1>
                    <h2 class="brand-tagline">Expand your knowledge with us today!</h2>
                </hgroup>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                                                          <% if @user %>
                            <a class="pure-button" href="/<%= @user.id %>"><i class="icon-home"></i> &nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/user_profile/<%= @user.id %>"><i class="icon-user"></i> &nbsp;Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/decks/<%= @user.id %>"><i class="icon-flag-checkered"></i> &nbsp;Start Game</a>
                        </li>
                                                          <% else %>
                        <li class="nav-item">
                            <a class="pure-button" href="/join">Register <i class="icon-signin"></i></a>
                        </li>
                                                          <% end %>
                    </ul>
                </nav>
            </header>
        </div>
