        <div class="sidebar pure-u">
            <header class="header">

                <hgroup>
                    <h1 class="brand-title">Flash Cards by RAD</h1>
                    <h2 class="brand-tagline">Expand your knowledge with us today!</h2>
                </hgroup>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/decks">Decks</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/join">Join</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/">Profile</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

