        <div class="sidebar pure-u">
            <header class="header">

                <hgroup>
                    <h1 class="brand-title">Flash Cards by RAD</h1>
                    <h2 class="brand-tagline">Expand your knowledge with us today!</h2>
                </hgroup>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/"><i class="icon-home"></i> &nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/login"><i class="icon-signin"></i> &nbsp;Signin</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/decks"><i class="icon-book"></i> &nbsp;&nbsp;Deck</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/join"><i class="icon-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;Join</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="/user_profile/1"><i class="icon-user"></i> &nbsp;Profile</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

