<div class="container">
    <div class="pure-g-r" id="layout">
<%= erb :_nav, layout: false %>
        <div class="pure-u-1">
            <div class="content">

                <!-- Dev Mode: Show Errors -->
                <% if @errors %>
                <% @errors.each do |error_message| %>
                <p><%=error_message %></p>
                <% end %>
                <% end %>

                <form id="add_user_form" name="create_new_user" action="/create_new_user" method="post" class="pure-form pure-form-aligned">
                    <fieldset>
                        <legend>Signup today!</legend>

                        <div class="pure-control-group">
                            <input id="name" type="text" name="user[full_name]" placeholder="ie. John Doe">
                            <label style="text-align:left;" for="name">Name</label>
                        </div>

                        <div class="pure-control-group">
                            <input id="email" type="email" name="user[email]" placeholder="abc@gmail.com">
                            <label style="text-align:left;" for="email">Email</label>
                        </div>

                        <div class="pure-control-group">
                            <input id="password" type="password" name="user[password_hash]" placeholder="Password">
                            <label style="text-align:left;" for="password">Password</label>
                        </div>

                        <button type="submit" class="pure-button pure-button-primary">Let's go!</button>
                    </fieldset>
                </form>
<%= erb :_footer, layout: false %>
