<div class="container">
    <div class="pure-g-r" id="layout">
<%= erb :_nav, layout: false %>
        <div class="pure-u-1">
            <div class="content">

                <!-- A wrapper for all the items -->
                <div class="posts">
                    <h1 class="content-subhead">Hello <% if @user %>
                                                          <%= @user.full_name %>
                                                      <% end %></h1>

                    <!-- A single item -->
                    <section class="post">
                        <header class="post-header">
                            <img class="post-avatar" alt="Disa Johnson's avatar" src="/img/common/disa-johnson.jpg" height="48" width="48">
                            <img class="post-avatar" alt="Disa Johnson's avatar" src="/img/common/abraham.jpg" height="48" width="48">
                            <img class="post-avatar" alt="Disa Johnson's avatar" src="/img/common/rachel.jpg" height="48" width="48">

                            <h2 class="post-title">Brought to you by Team RAD</h2>
                        </header>

                        <div class="post-description">
                            <p>
                                Rachel, Abraham and Disa.
                            </p>
                        </div>
                    </section>
                </div>
<%= erb :_footer, layout: false %>
